<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="com.genericUtility.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="ABPNews_live.StoryCard1"/>
      <class name="ABPNews_live.Livetvpage"/>
      <class name="ABPNews_live.CoronaCases"/>
      <class name="ABPNews_live.ViewAll"/>
      <class name="ABPNews_live.Advertisements"/>
      <class name="ABPNews_live.Advertisements2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
